<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BGFMDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D706630C1CD1EF67009E4B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D70663251CD1EF67009E4B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D70663301CD1EF67009E4B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
